# Copy this file to keystore.properties and fill in your actual keystore credentials
# NEVER commit keystore.properties to version control!

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=pokus-release
storeFile=app/keystore/release.keystore
